body {
	background-color: #D7D3BF; 
	color : rgb(30,30,30);
	font-family : Lora, serif;
}

h1 {
	color: black;
    font-family: Times New Roman;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

a{
	text-decoration : none;
	color : #6B72E1;
	font-weight: bold;
}

a:hover{
	text-decoration : underline;
	color : white;
}

.container {
	width:1000px;
	margin: 40px auto;
	text-align:center;
}

@media (max-width: 1000px) {
	.container {
		width: 500px;
	}
}

@media (max-width: 600px) {
	.container {
		width: 400px;
	}
}

@media (max-width: 1000px) {
	.card-white {
		width: 95%; 
		padding: 30px;
	}
}

.card-white {
	background:#ECEBDE;
	width:80%;
	margin:40px auto;
	border-radius:10px;
	padding:20px;
	box-shadow:0px 10px 30px rgba(0,0,0,0.1);
	text-align:center;
}

.img-circle {
	border-radius:50%;
}

.btn-blue {
	background-color:#A59D84;
	color:black;
	padding:10px;
	border-radius:10px;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding:10px;
}

.list-inline i {
	font-size:50px;
}

#introduction p {
	margin-bottom:70px;
}